<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ch.stiftungswo.firefox.profile</string>
	<key>Program</key>
	<string>/Applications/Firefox Profile Sync.app/Contents/MacOS/Firefox Profile Sync</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
